.header-main {
  font-size: larger;
  border-bottom: 1px solid rgba(0, 0, 0, 0.308);
}

.gradient-text {
  background-image: linear-gradient(to right, #ff00cc, #9b09a5, #333399);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}